/* ==============
    ALL: Main
   ============== */

html,
button,
input,
select,
textarea {
    color: #444;
}

html, button {
    -webkit-font-smoothing: antialiased;    
}

body {
    font-size: 1em;
    line-height: 1.4;
    font-family: 'Montserrat', sans-serif;
}

::-moz-selection {
    background: #EEEEEE;
    text-shadow: none;
}

::selection {
    background: #EEEEEE;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

a:hover {
    text-decoration: underline;
}


.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html, html a, button {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

h1 {
    font-size: 1.6em;
    margin: .17em 0;
}

nav {
}

nav ul li a {
    margin: 0;
    padding: 0;
}

nav .home a {
    display: inline-block;
    background: url(../img/logo.svg) no-repeat;
    width: 120px;
    height: 30px;
    text-indent: -999em;
    overflow: hidden;
}

nav,
main > section {
    padding: 35px 35px 35px 35px;
}

section header {
    background: url(../img/earth-space.jpg);
    background-position: 50% 50%;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -ms-text-fill-color: transparent;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -ms-background-clip: text;
    background-clip: text;
    margin: 0;
}

section p {
    max-width: 850px;
}

section a,
section em {
    font-weight: bold;
    font-style: normal;
}

.who {
    background: #DF1C01;
    min-height: 150px;
    color: #fff;
}

.who h1 {
    background: none;
}

.who a {
    color: #4E0000;
}

.why header {
    background-position: 80% 20%;
}

.what {
    background: #FAFAFA;
}

.map {
    background: url(../img/map.png) no-repeat 0 50px;
    padding-left: 0;
    padding-right: 0;
    min-height: 300px;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {
    h1 {
        font-size: 2.5em;
        margin: .17em 0;
    }
    nav,
    main > section {
        padding: 35px 35px 35px 70px;
    }
}

@media only screen and (min-width: 768px) {
    h1 {
        font-size: 3.5em;
        margin: .17em 0;
    }
    nav,
    main > section {
        padding: 35px 35px 35px 70px;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    header, body > section {
        margin: 30px 70px;
    }
    h1 {
        font-size: 4.5em;
        margin: .17em 0;
    }
    nav,
    main > section {
        padding: 35px 35px 35px 70px;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}